<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManagedCuda-75-Standalone" version="7.5.7" targetFramework="net452" />
  <package id="Telogis.RoutePlan.Cuda.Tasks" version="1.6.5" targetFramework="net452" />
  <package id="Telogis.RoutePlan.Logging" version="0.13.2.107" targetFramework="net452" />
</packages>